<mat-toolbar>
  <span>WORDLE</span>

  <span>
    <button mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>equalizer</mat-icon>
    </button>
  </span>
</mat-toolbar>

<div class="container">
  <div class="grid">
    <div class="row" *ngFor="let row of grid; index as r">
      <span *ngFor="let col of row; index as c" class="cell">
        <input id="cell-{{r}}{{c}}" type="text" [value]="col" disabled />
      </span>
    </div>
  </div>
  
  <div class="keyboard">
    <div class="row">
      <span class="key" *ngFor="let key of kbFirstRow">
        <button id="key{{key}}" (click)="typeLetter(key)">{{ key }}</button>
      </span>
    </div>
    <div class="row">
      <span class="key" *ngFor="let key of kbSecondRow">
        <button id="key{{key}}" (click)="typeLetter(key)">{{ key }}</button>
      </span>
    </div>
    <div class="row">
      <span class="key">
        <button id="return" (click)="enterWord()">
          <mat-icon>keyboard_return</mat-icon>
        </button>
      </span>
      <span class="key" *ngFor="let key of kbThirdRow">
        <button id="key{{key}}" (click)="typeLetter(key)">{{ key }}</button>
      </span>
      <span class="key">
        <button id="backspace" (click)="eraseLetter()">
          <mat-icon>backspace</mat-icon>
        </button>
      </span>
    </div>
  </div>
</div>